<ul>
    <h1>Books grouped by type</h1>
  {{#each booksByType as |group|}}
      <h3>Books that have {{group.property}} {{group.value}}</h3>
      <ul>
        {{#each group.items as |book|}}
            <li>{{#link-to 'books.book' book}}{{{book.title}}}{{/link-to}}</li>
        {{/each}}
      </ul>
  {{/each}}
</ul>
